{% extends "base.html" %}

{% block head %} <title>Video Library</title> {% endblock %}

{% block body %}
<a name="top"></a>
<h1>Video Library</h1>
<div class="row">
    <!-- Adding section -->
    <div class="column1">
        <div class="adding_panel">
            <div class="video_addind">
                <h3>New Video</h3>
                <form action="/video/" method="post">
                    <p><input type="text" name="title" placeholder="Title..."></p>
                    <p><input type="text" name="genre" placeholder="Genre..."></p>
                    <p><input type="text" name="pages" placeholder="Songs..."></p>
                    <input type="submit" value="Add Video">
                </form>
            </div>
            <div class="band_adding">
                <h3>New Band</h3>
                <form action="/band/" method="post">
                    <p><input type="text" name="name" placeholder="Band Name"></p>
		    <p><input type="text" name="name" placeholder="Formation"></p>
                    <input type="submit" value="Add Band">
                </form>
            </div>
        </div><br><br><br>
        <!-- Assign section -->
        <div class="column">
            <h3>Assign Band to Video</h3>
            <form action="/assign/" method="post">
                <p><input type="text" name="author_id" placeholder="Band ID"></p>
                <p><input type="text" name="books_id" placeholder="Video ID..."></p>
                <input type="submit" value="Assign Video">
            </form>
            <table class="ids">
                <tr>
                    <th>Band</th>
                    <th>band ID</th>
                </tr>
                {% for band in bands %}
                <tr>
                    <td>{{ band }}</td>
                    <td>{{ band.id }}</td>
                </tr>
                {% endfor %}

                <tr>
                    <th>Video</th>
                    <th>Video ID</th>
                {% for video in videos %}
                </tr>
                <td>{{ video }}</td>
                <td>{{ video.id }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    <!-- Video Shelf section -->
    <div class="column2">
        <div class="video_display">
            <h2>Video</h2>
            <table>
                <tr>
                    <th>Band</th>
                    <th>Video</th>
		    <th>Avaibility</th>
                </tr>
                {% for video in videos %}
                <tr>
                    <td>{{ video.band }}</td>
                    <td>
                        <button type="button" onclick='window.location.href="delete/{{ video.id }}"'>Delete Video
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <br>
        <!-- Return -->
        <button type="button" onclick='window.location.href="#top"'>BACK TO TOP</button>
    </div>
</div>
{% endblock %}
